{#
SPDX-FileCopyrightText: 2023 Nikita Chernyi

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Matrix Rooms Search API ({{ mrs_identifier }})
{% for service in mrs_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in mrs_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c '{{ mrs_container_cleanup_command | trim | replace("\n", " ") }}'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ mrs_identifier }} \
      --log-driver=none \
      --user={{ mrs_uid }}:{{ mrs_gid }} \
      --cap-drop=ALL \
      --read-only \
      --hostname={{ mrs_hostname }} \
      --network={{ mrs_container_network }} \
      {% if mrs_container_http_bind_port %}
      -p {{ mrs_container_http_bind_port }}:{{ mrs_container_http_port }} \
      {% endif %}
      --ulimit nofile=262144:262144 \
      --env-file={{ mrs_base_path }}/env \
      --label-file={{ mrs_base_path }}/labels \
      --mount type=bind,src={{ mrs_base_path }},dst=/mnt \
      --tmpfs=/tmp:rw,noexec,nosuid,size={{ mrs_container_tmpfs_tmp_size }} \
      {% for arg in mrs_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ mrs_container_image_self_build_name if mrs_container_image_self_build else mrs_container_image }} \
      -c {{ mrs_path_config }}

{% for network in mrs_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ mrs_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ mrs_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ mrs_identifier }} 2>/dev/null'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ mrs_identifier }} 2>/dev/null'

Restart=always
RestartSec=30
SyslogIdentifier={{ mrs_identifier }}

[Install]
WantedBy=multi-user.target
