{#
SPDX-FileCopyrightText: 2023 - 2025 Nikita Chernyi

SPDX-License-Identifier: AGPL-3.0-or-later
#}

port: {{ mrs_container_http_port }}
sentry_dsn: {{ mrs_sentry_dsn }}
healthchecks:
  url: {{ mrs_healthchecks_url }}
  uuid: {{ mrs_healthchecks_uuid }}
public:
  name: {{ mrs_public_name }}
  ui: {{ mrs_public_ui }}
  api: {{ mrs_public_api }}
matrix:
  server_name: {{ mrs_matrix_server_name }}
  support:
    contacts: {{ mrs_matrix_support_contacts }}
    support_page: {{ mrs_matrix_support_page }}
  keys: {{ mrs_matrix_keys }}
search:
  defaults:
    limit: {{ mrs_search_defaults_limit|int }}
    offset: {{ mrs_search_defaults_offset|int }}
    sort_by: {{ mrs_search_defaults_sort_by }}
auth:
  admin:
    login: {{ mrs_auth_admin_login }}
    password: {{ mrs_auth_admin_password }}
    ips: {{ mrs_auth_admin_ips }}
  metrics:
    login: {{ mrs_auth_metrics_login }}
    password: {{ mrs_auth_metrics_password }}
    ips: {{ mrs_auth_metrics_ips }}
  catalog:
    login: {{ mrs_auth_catalog_login }}
    password: {{ mrs_auth_catalog_password }}
    ips: {{ mrs_auth_catalog_ips }}
  discovery:
    login: {{ mrs_auth_discovery_login }}
    password: {{ mrs_auth_discovery_password }}
    ips: {{ mrs_auth_discovery_ips }}
  moderation:
    login: {{ mrs_auth_moderation_login }}
    password: {{ mrs_auth_moderation_password }}
    ips: {{ mrs_auth_moderation_ips }}

cache:
  max_age: {{ mrs_cache_max_age }}
  max_age_search: {{ mrs_cache_max_age_search }}
  bunny:
    url: {{ mrs_cache_bunny_url }}
    key: {{ mrs_cache_bunny_key }}
plausible:
  host: {{ mrs_plausible_host }}
  domain: {{ mrs_plausible_domain }}
cron:
  discovery: {{ mrs_cron_discovery }}
  parsing: {{ mrs_cron_parsing }}
  indexing: {{ mrs_cron_indexing }}
  full: {{ mrs_cron_full }}
path:
  index: {{ mrs_path_index }}
  data: {{ mrs_path_data }}
  media: {{ mrs_path_media }}
batch:
  rooms: {{ mrs_batch_rooms }}
webhooks:
  moderation: {{ mrs_webhooks_moderation }}
  stats: {{ mrs_webhooks_stats }}
workers:
  discovery: {{ mrs_workers_discovery }}
  parsing: {{ mrs_workers_parsing }}
email:
  moderation: {{ mrs_email_moderation }}
  postmark:
    server_token: {{ mrs_email_postmark_server_token }}
    report:
      message_stream: {{ mrs_email_postmark_report_message_stream }}
      from: {{ mrs_email_postmark_report_from }}
  templates:
    report:
      subject: {{ mrs_email_templates_report_subject|to_yaml }}
      body: {{ mrs_email_templates_report_body|to_yaml }}
languages: {{ mrs_languages }}
servers: {{ mrs_servers }}
blocklist:
  ips: {{ mrs_blocklist_ips }}
  servers: {{ mrs_blocklist_servers }}
  queries: {{ mrs_blocklist_queries }}

# vi: ft=yaml
